/* for fakes: [what it does]+[looks like] */
.ground {background:#212121;}
.as {background:#212126;}
.ls {background:#262121;}
.lava {background:#FF5722;/*animation: lava 2s linear infinite;*/}
.sl {background:#ff430a;}
.al {background:#FF5727;}
/*
@keyframes lava {
  0% {background:#FF6F00;}
  25% {background:#FF9100;}
  50% {background:#FF9800;}
  75% {background:#EF6C00;}
  100% {background:#FF6F00;}
}
*/
.win {background:#8BC34A;background-image:url(icons/materialicon_flag.svg);background-position:center;background-repeat:no-repeat;}
.jump {background:#9C27B0;background-image:url(icons/materialicon_keyboard_arrow_up.svg);background-position:center;background-repeat:no-repeat;}
.mud {background:#795548;}
.nojump {background:#FFEB3B;background-image:url(icons/materialicon_block.svg);background-position:center;background-repeat:no-repeat;}
.ice {background:#00BCD4;background-image:url(icons/iceshine.svg);background-position:center;background-repeat:no-repeat;}
.water {background:#2196F3;}
.left {background-color:#009688;background-image:url(icons/materialicon_chevron_left.svg);background-position:center;background-repeat:no-repeat;}
.right {background-color:#004D40;background-image:url(icons/materialicon_chevron_right.svg);background-position:center;background-repeat:no-repeat;}
.text {background-color:#eee;background-image:url(icons/materialicon_title.svg);background-position:center;background-repeat:no-repeat;}
.check {background-color:#4CAF50;background-image:url(icons/materialicon_beenhere.svg);background-position:center;background-repeat:no-repeat;}
.fanL, .fanR, .fanB {background-color:#607D8B;}
.fanL:before {content:'';border-right:5px solid rgba(255,255,255,0.2);display:block;height:40px;}
.fanR:before {content:'';border-left:5px solid rgba(255,255,255,0.2);display:block;height:40px;}
.fanB:before {content:'';border-top:5px solid rgba(255,255,255,0.2);display:block;}
.ajump {background-color:#E91E63;background-image:url(icons/materialicon_arrow_upward.svg);background-position:center;background-repeat:no-repeat;}
.gold {background:#FFC107;background-image:url(icons/iceshine.svg);background-position:center;background-repeat:no-repeat;}
.sand {background:#FFCC80;}
.antilava {background:#f44336;background-image:url(icons/materialicon_invert_colors.svg);background-position:center;background-repeat:no-repeat;}
.nopower {background:#424242;}
.liquify {background:#0D47A1;background-image:url(icons/materialicon_local_drink.svg);background-position:center;background-repeat:no-repeat;}
.pillar {background:#3F51B5;background-image:url(icons/materialicon_backup.svg);background-position:center;background-repeat:no-repeat;}
.fire {background-image:url(icons/fire.svg);background-position:center;background-repeat:no-repeat;}
.ladder {background-image:url(icons/ladder.svg);background-position:center;background-repeat:no-repeat;}
.slam {background:#F57F17;background-image:url(icons/materialicon_file_download.svg);background-position:center;background-repeat:no-repeat;}
.rage {background:#c62828;background-image:url(icons/materialicon_accessibility.svg);background-position:center;background-repeat:no-repeat;}
.midas {background:#FFC107;background-image:url(icons/materialicon_attach_money.svg);background-position:center;background-repeat:no-repeat;}
.trans {background:#4DB6AC;background-image:url(icons/materialicon_swap_horiz.svg);background-position:center;background-repeat:no-repeat;}
.grav {background:#64B5F6;}
.glitch {background-color:magenta;}

.topOnly:before {
  content: '';
  border-top: 5px solid rgba(0,0,0,0.2);
  display: block;
}
/* MADE BY SEAN */
